body {
  color: black;
  background-color: #eee;
  font-size: 16px;
  font-weight: 300;
  font-family: sans-serif;
}
body a {
  color: #ff85cb;
  text-decoration: none;
  font-weight: bold;
}
body a:hover {
  background: #ff85cb;
  color: white;
  text-decoration: underline;
  border-bottom: .25rem solid white;
}
body h1,
body h2 {
  text-align: center;
  font-weight: 300;
  letter-spacing: .25rem;
  padding: 0;
  margin: 0;
}
body h1 {
  font-size: 1.33rem;
}
body h2 {
  font-size: 1rem;
}
body p {
  width: 75%;
  margin: 1rem auto;
  padding: 0;
}
body ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
body ul li {
  margin-left: 0;
  margin-top: .5rem;
}
body .under-hover::after {
  content: "";
  background: #eee;
  height: 0;
  width: 0;
  top: 0.3rem;
  position: relative;
  display: block;
}
body .under-hover:hover::after {
  width: 100%;
  height: 0.3rem;
  transition: width 0.1s ease-out;
}
body section {
  float: left;
  width: calc(100% - 4rem);
  background-color: #fff;
  margin: 1rem;
  position: relative;
}
body section.log, body section.controls, body section.inventory, body section.stocks {
  padding: 1rem;
}
@media only screen and (min-width: 600px) {
  body section.inventory, body section.controls {
    width: calc(30% - 4rem);
  }
}
body section.log, body section.controls {
  height: 18rem;
  font-size: 0.8rem;
}
body section.title {
  width: calc(100% - 2rem);
}
body section.title h1 {
  background: #53bbf4;
  color: white;
  font-weight: bold;
  padding: .5rem 0;
}
body section.inventory ul {
  width: 100%;
}
body section.inventory ul li {
  margin-top: .25rem;
  padding: .75rem .5rem;
}
body section.inventory .money,
body section.inventory .location {
  color: white;
  font-weight: bold;
}
body section.inventory .money {
  background: #83ad00;
}
body section.inventory .location {
  background: #ffac00;
}
body section.log {
  font-size: 14px;
  font-family: monospace;
  line-height: 20px;
}
body section.log h2 {
  font-family: sans-serif;
}
@media only screen and (min-width: 600px) {
  body section.log {
    width: calc(70% - 4rem);
    height: 33rem;
  }
}
body section.log ul {
  overflow-y: scroll;
  max-height: 15rem;
}
@media only screen and (min-width: 600px) {
  body section.log ul {
    max-height: 30rem;
  }
}
body section.log ul li {
  padding: .5rem;
  float: left;
  width: calc(100% - 2rem);
}
body section.log .stock-increase,
body section.log .stock-decrease {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  font-size: .8rem;
}
@media only screen and (min-width: 600px) {
  body section.log .stock-increase,
  body section.log .stock-decrease {
    width: calc(50% - 2rem);
  }
}
@media only screen and (min-width: 1000px) {
  body section.log .stock-increase,
  body section.log .stock-decrease {
    width: calc(33% - 2rem);
  }
}
body section.log .stock-increase:nth-first-child, body section.log .stock-increase:nth-last-child,
body section.log .stock-decrease:nth-first-child,
body section.log .stock-decrease:nth-last-child {
  clear: both;
}
body section.log .stock-increase {
  background: #a9e000;
}
body section.log .stock-decrease {
  background: #ff432e;
  color: white;
}
body section.controls {
  height: auto;
}
body section.controls ul {
  padding-left: 0;
}
body section.controls ul li {
  cursor: pointer;
  font-weight: bold;
  transition: padding 0.1s ease-out;
  color: white;
  padding: 1rem 1rem;
  height: 1.2rem;
  margin-top: 1rem;
}
body section.controls ul li.buy-button {
  background-color: #53bbf4;
}
body section.controls ul li.sell-button {
  background-color: #53bbf4;
}
body section.controls ul li.travel-button {
  background-color: #ff85cb;
}
body section.controls ul li.data-button {
  background-color: #ff85cb;
}
body section.controls ul li:hover {
  padding-left: 0.75rem;
}
body section.controls .buy-button::after, body section.controls .sell-button::after {
  background: #23a8f1;
}
body section.controls .travel-button::after, body section.controls .data-button::after {
  background: #ff52b5;
}
body .stock {
  cursor: pointer;
  transition: background 0.1s ease-out, width 0.1s ease-out;
  background: #53bbf4;
  color: white;
  float: left;
  display: inline-block;
  margin-right: 1rem;
  height: 2rem;
  padding: .75rem 0;
  text-align: center;
  font-family: monospace;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  body .stock {
    width: calc(50% - 1rem);
  }
}
@media only screen and (min-width: 1000px) {
  body .stock {
    width: auto;
    padding: .75rem .5rem;
  }
  body .stock:nth-child(odd) {
    margin-right: 1rem;
  }
  body .stock:hover::after {
    padding: 0 .5rem;
    left: -0.5rem;
    height: 0.6rem;
  }
}
body .stock.owned {
  background: #ff85cb;
}
body .stock.owned:hover {
  background: #ff52b5;
}
body .stock.owned:hover::after {
  background: #ff1fa0;
}
body .stock:hover {
  background: #23a8f1;
}
body .stock:hover::after {
  background: #0e8dd3;
  height: 0.8rem;
  top: 0.8rem;
}
